Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

hotfix: add `distinct`
  app/pages/views/base.py
  app/tags/views/categories/general.py
Labels: task

fix shuffle tags on page
  api/settings.py
  app/pages/serializers/main.py
  app/pages/serializers/persoanls/detail.py
  app/pages/tests/views/test_main/test_general.py
  app/pages/views/base.py
  app/tags/views/general.py
Labels: task, test

fix shuffle tags on page
  app/pages/serializers/main.py
  app/pages/serializers/persoanls/detail.py
Labels: task

add `MentorFirstNameEmailSender`
  app/users/verification/__init__.py
  app/users/verification/email_senders/mentor_first_name.py
Labels: task

fix `MentorAdminForm`
  app/base/tests/admin/__init__.py
  app/base/tests/admin/base.py
  app/base/tests/base.py
  app/base/tests/views/base.py
  app/mentors/admin.py
  app/tags/admin.py
  app/tags/tests/admin/__init__.py
  app/tags/tests/admin/test_tag.py
Labels: task, test

ValidationError: ['Password must contain at least 1 number.'] (#293)
  app/base/tests/admin/__init__.py
  app/base/tests/admin/base.py
  app/base/tests/base.py
  app/base/tests/views/base.py
  app/mentors/admin.py
  app/tags/admin.py
  app/tags/tests/admin/__init__.py
  app/tags/tests/admin/test_tag.py
Labels: task, test

fix `PageAdmin.search_fields`
  app/pages/admin.py
Labels: task

FieldError: Unsupported lookup 'name' for ForeignKey or join on the field not permitted. (#294)
  app/pages/admin.py
Labels: task

fix `MentorAdmin`
  app/mentors/admin.py
  app/users/templates/email/mentor_password_reset.html
Labels: task

add `check_health` Sentry monitoring
  api/settings.py
  app/base/tasks.py
Labels: task

fix `PagesRetrievePersonalSerializer`
  app/pages/serializers/persoanls/detail.py
  zabbix/docker-compose.yml
Labels: task

ImproperlyConfigured: Field name `title` is not valid for model `Page`. (#296)
  app/pages/serializers/persoanls/detail.py
  zabbix/docker-compose.yml
Labels: task

add checks to `check_health` task
  app/base/tasks.py
Labels: task

fix checks to `check_health` task
  app/base/tasks.py
Labels: task

WIP
  app/users/templates/email/mentor_password_reset.html
  app/users/templates/email/password_reset.html
Labels: task

delete unused workflows
  .github/workflows/call-backup_db.yml
  .github/workflows/cron-daily.yml
  .github/workflows/cron-monthly.yml
  .github/workflows/issue-add_project.yml
Labels: devops

try
  .github/workflows/task-304-test.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/task-304-test.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-sentry_release.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-sentry_release.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-get_commit_title.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-get_commit_title.yml
Labels: devops

Попытка получить заголовок из коммита Тело коммита
  .github/workflows/call-get_commit_title.yml
Labels: devops

Попытка получить заголовок из коммита
  .github/workflows/call-sentry_release.yml
Labels: devops

Проверка task-304
  .github/workflows/call-deploy.yml
  .github/workflows/task-304-test.yml
Labels: devops

fix `call-deploy.yml`
  .github/workflows/call-deploy.yml
  .github/workflows/task-304-test.yml
Labels: devops

Сделать читаемый Sentry Release (#305)
  .github/workflows/call-backup_db.yml
  .github/workflows/call-deploy.yml
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/cron-daily.yml
  .github/workflows/cron-monthly.yml
  .github/workflows/issue-add_project.yml
Labels: devops

fix `TagsCategoriesView`
  app/tags/views/categories/general.py
Labels: task

fix `TagsCategoriesView`
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
  api/settings.py
Labels: task, devops

Сделать меньше профилирования `text` (#308)
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
  api/settings.py
Labels: task, devops

hotfix: escape `needs.get_commit_title.outputs.title`
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

hotfix: add check self in `check_health`
  app/base/tasks.py
Labels: task

hotfix: `_traces_sampler`
  api/settings.py
Labels: task

hotfix: `check_health`
  app/base/tasks.py
Labels: task

fix slash in the urlpatterns
  api/settings.py
  api/urls.py
Labels: task

RuntimeError: You called this URL via POST, but the URL doesn't end in a slash and you have APPEND_SLASH set. Django ca... (#310)
  api/settings.py
  api/urls.py
Labels: task

(hotfix) test: a'b"c`d
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

hotfix: quotes (a'b"c`d)
  .github/workflows/call-deploy.yml
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

hotfix: quotes (a'b"c`d)
  .github/workflows/call-sentry_release.yml
Labels: devops

hotfix: `_make_optional_slash`
  api/urls.py
Labels: task
