Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

fix `CategoryAdmin.mentors`
  app/tags/admin.py
Labels: task

renames: - `PageMentorSet` -> `PageMentors` - `Page.tag_set` -> `Page.tags` - `Page.mentor_set` -> `Page.mentors`
  app/forms/migrations/0005_alter_field_type_alter_form_type.py
  app/pages/migrations/0002_remove_faq_answer_en_remove_faq_answer_ru_and_more.py
  app/pages/migrations/0003_rename_pagementorset_pagementors_alter_page_category_and_more.py
  app/pages/migrations/0004_remove_page_mentor_set_page_mentors_page_tags_and_more.py
  app/pages/migrations/0005_remove_page_tag_set.py
  app/pages/models/_pages.py
  app/pages/serializers/main.py
  app/pages/services/page.py
  app/pages/tests/factories/page.py
  app/pages/tests/views/test_main/test_mentor.py
  app/pages/tests/views/test_personals/test_mentor.py
  app/pages/views/base.py
  app/pages/views/mentor.py
  app/pages/views/peronals/base.py
  app/tags/migrations/0005_remove_category_title_en_remove_category_title_ru_and_more.py
Labels: task, test

add pages admin
  app/mentors/admin.py
  app/mentors/models.py
  app/pages/admin.py
  app/pages/migrations/0006_pagementors_unique_page_mentor_and_more.py
  app/pages/models/_pages.py
  app/tags/models.py
Labels: task

fix `PagesPersonalMentorTest`
  app/pages/tests/views/test_personals/test_mentor.py
Labels: task, test

Отобразить возможность привязки карточек менторов к страницам категорий / тегов (#242)
  app/mentors/admin.py
  app/mentors/models.py
  app/pages/admin.py
  app/pages/migrations/0006_pagementors_unique_page_mentor_and_more.py
  app/pages/models/_pages.py
  app/pages/tests/views/test_personals/test_mentor.py
  app/tags/models.py
Labels: task, test

fix admin inlines: `max_num = None -> 10`
  app/mentors/admin.py
  app/tags/admin.py
Labels: task

Filtered out draft mentors from all `MentorsView` querysets, except `MentorView` (detail)
  app/mentors/views/detail.py
  app/pages/views/base.py
  app/pages/views/peronals/base.py
Labels: task

Add 'is_draft' filter to Django admin for `Mentors`
  app/mentors/admin.py
Labels: task

Доработать параметр draft: true (страница ментора) (#244)
  app/mentors/admin.py
  app/mentors/views/detail.py
  app/pages/views/base.py
  app/pages/views/peronals/base.py
Labels: task

*hotfix*: add `is_staff` to `GETUsersMeSerializer`
  app/users/serializers/me.py
Labels: task

**hotfix**: update `MentorAdmin.url`
  app/mentors/admin.py
Labels: task

test
  app/mentors/admin.py
  app/mentors/serializers/detail.py
  app/mentors/views/detail.py
  app/mentors/views/general.py
  app/pages/views/base.py
  app/pages/views/peronals/base.py
Labels: task

Changes in the Categories/Tags sections Add a checkbox that would affect the display of the corresponding mentor on the Main page of the Category/Tag
  app/bookings/admin.py
  app/bookings/migrations/0002_hourlybooking_created_at_packagebooking_created_at_and_more.py
  app/bookings/models.py
  app/mentors/admin.py
  app/mentors/models.py
  app/pages/admin.py
  app/tags/admin.py
  app/tags/models.py
  app/tags/templates/mentor_checkbox_widget.html
Labels: task

Admin table Category/Tag display Add filter to the admin tables for easy viewing of empty tags/categories currently
  app/tags/admin.py
Labels: task

Remove unnecessary fields in Application
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0006_remove_application_facebook_and_more.py
  app/forms/models/_forms.py
  app/forms/models/choices.py
  app/forms/serializers/applications/general.py
Labels: task

Remove `FormType.SIGNUP_MENTOR`
  app/forms/models/choices.py
Labels: task

Доработки Backend (#252)
  app/bookings/admin.py
  app/bookings/migrations/0002_hourlybooking_created_at_packagebooking_created_at_and_more.py
  app/bookings/models.py
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0006_remove_application_facebook_and_more.py
  app/forms/models/_forms.py
  app/forms/models/choices.py
  app/forms/serializers/applications/general.py
  app/mentors/admin.py
  app/mentors/models.py
  app/pages/admin.py
  app/tags/admin.py
  app/tags/models.py
  app/tags/templates/mentor_checkbox_widget.html
Labels: task

#249: fix `SendView` throttle
  app/base/views/base.py
  app/pages/admin.py
  app/users/views/password/reset.py
  app/users/views/register/resend.py
Labels: task

#249: add `GETUsersMeSerializer: is_mentor`
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0007_alter_form_type.py
  app/mentors/models.py
  app/users/models.py
  app/users/serializers/me.py
Labels: task

#249: add `CreatedAtFilter`
  app/bookings/admin.py
  app/forms/admin.py
Labels: task

#249: fix admin mentor links
  app/pages/admin.py
  app/tags/templates/mentor_checkbox_widget.html
Labels: task

Доработки Backend #2 (#253)
  app/base/views/base.py
  app/bookings/admin.py
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0007_alter_form_type.py
  app/mentors/models.py
  app/pages/admin.py
  app/tags/templates/mentor_checkbox_widget.html
  app/users/models.py
  app/users/serializers/me.py
  app/users/views/password/reset.py
  app/users/views/register/resend.py
Labels: task

hotfix: fix `AdminNotificationService`
  app/admin_/services/notification.py
  app/mentors/migrations/0009_alter_mentor_email.py
Labels: task

Learning test (#261)
  .github/workflows/call-build.yml
  .pre-commit-config.yaml
  app/admin_/services/notification.py
  app/base/views/base.py
  app/bookings/admin.py
  app/bookings/migrations/0002_hourlybooking_created_at_packagebooking_created_at_and_more.py
  app/bookings/models.py
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0006_remove_application_facebook_and_more.py
  app/forms/migrations/0007_alter_form_type.py
  app/forms/models/_forms.py
  app/forms/models/choices.py
  app/forms/serializers/applications/general.py
  app/mentors/admin.py
  app/mentors/migrations/0009_alter_mentor_email.py
  app/mentors/models.py
  app/pages/admin.py
  app/tags/admin.py
  app/tags/models.py
  app/tags/templates/mentor_checkbox_widget.html
  app/users/models.py
  app/users/serializers/me.py
  app/users/views/password/reset.py
  app/users/views/register/resend.py
  requirements.txt
Labels: task, devops, requirements

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: devops

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: devops

add mentor->user migrations
  app/mentors/migrations/0010_alter_mentor_email.py
  app/mentors/migrations/0011_auto_20230621_1835.py
  app/mentors/models.py
  docker-compose.yml
Labels: task, devops

fix MentorAdminForm for create mentor as user: add random generated password
  api/settings.py
  app/mentors/admin.py
  app/users/strategy.py
Labels: task

fix `MentorFactory`
  app/mentors/tests/factories.py
Labels: task, test

Пересобрать объект Юзера (#269)
  api/settings.py
  app/mentors/admin.py
  app/mentors/migrations/0010_alter_mentor_email.py
  app/mentors/migrations/0011_auto_20230621_1835.py
  app/mentors/models.py
  app/mentors/tests/factories.py
  app/users/strategy.py
  docker-compose.yml
Labels: task, test, devops

add mentor_password_reset_verifier
  app/users/templates/email/mentor_password_reset.html
  app/users/verification/__init__.py
  app/users/verification/email_senders/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/simple.py
  app/users/verification/link_generators/__init__.py
  app/users/verification/link_generators/email/__init__.py
  app/users/verification/link_generators/email/base.py
  app/users/verification/link_generators/email/code.py
  app/users/verification/link_generators/email/mentor.py
  app/users/verification/verifiers/email.py
Labels: task

update `PasswordResetter` to support mentor verification
  app/users/models.py
  app/users/password_reset/__init__.py
  app/users/password_reset/resetter.py
  app/users/tests/views/test_password/test_reset.py
  app/users/verification/__init__.py
  app/users/views/password/reset.py
Labels: task, test

add tests to `UsersPasswordResetTest`
  app/users/tests/views/test_password/test_reset.py
  app/users/verification/__init__.py
Labels: task, test

add action `send_password_reset_email` to `MentorAdmin`
  app/mentors/admin.py
  app/mentors/models.py
Labels: task

Поменять логику регистрации ментора (#271)
  app/mentors/admin.py
  app/mentors/models.py
  app/users/models.py
  app/users/password_reset/__init__.py
  app/users/password_reset/resetter.py
  app/users/templates/email/mentor_password_reset.html
  app/users/tests/views/test_password/test_reset.py
  app/users/verification/__init__.py
  app/users/verification/email_senders/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/simple.py
  app/users/verification/link_generators/__init__.py
  app/users/verification/link_generators/email/__init__.py
  app/users/verification/link_generators/email/base.py
  app/users/verification/link_generators/email/code.py
  app/users/verification/link_generators/email/mentor.py
  app/users/verification/verifiers/email.py
  app/users/views/password/reset.py
Labels: task, test

update page, tag and category admin forms
  app/mentors/admin.py
  app/pages/admin.py
  app/tags/admin.py
Labels: task

Доработка Админки Django (#272)
  app/mentors/admin.py
  app/pages/admin.py
  app/tags/admin.py
Labels: task

add new init migrations
  app/bookings/migrations/0001_initial.py
  app/bookings/migrations/0002_initial.py
  app/forms/migrations/0001_initial.py
  app/geo/migrations/0001_initial.py
  app/mailings/migrations/0001_initial.py
  app/mentors/migrations/0001_initial.py
  app/pages/migrations/0001_initial.py
  app/pages/migrations/0002_initial.py
  app/tags/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
Labels: task

hotfix: media config
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  nginx/nginx.dev.conf.conf
  nginx/nginx.prod.conf.conf
  nginx/nginx.stage.conf.conf
Labels: devops

hotfix: `PageAdminForm`, `CategoryAdminForm`, `TagAdminForm`
  app/pages/admin.py
  app/tags/admin.py
Labels: task

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt
