Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

Добавить отправку письма при регистрации нового юзера через Google (#384)
  api/settings.py
  app/users/strategy.py
  docker-compose.yml
Labels: task, devops

add `IsMentorFilter`
  app/users/admin/admin.py
  app/users/admin/filters.py
Labels: task

В админке в список юзеров добавить параметр Ментор = true (можно чекбокс также) (#385)
  app/users/admin/admin.py
  app/users/admin/filters.py
Labels: task

add `cal-db`, `cal-web` and `cal-api` to dev docker-compose
  .github/workflows/call-deploy.yml
  app/calcom/__init__.py
  app/calcom/apps.py
  app/calcom/migrations/__init__.py
  app/calcom/models.py
  app/calcom/services/__init__.py
  app/calcom/services/token.py
  app/calcom/urls.py
  app/calcom/views/__init__.py
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
  envs/.base.env
  envs/.dev.example.env
  nginx/nginx.local.conf.conf
Labels: task, devops

Поднять docker-compose с calcom (#390)
  .github/workflows/call-deploy.yml
  app/calcom/__init__.py
  app/calcom/apps.py
  app/calcom/migrations/__init__.py
  app/calcom/models.py
  app/calcom/services/__init__.py
  app/calcom/services/token.py
  app/calcom/urls.py
  app/calcom/views/__init__.py
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
  envs/.base.env
  envs/.dev.example.env
  nginx/nginx.local.conf.conf
Labels: task, devops

fix `cal-db`
  docker/dev/docker-compose.yml
Labels: devops

fix `DATABASE_URL` in calcom
  docker/dev/docker-compose.yml
Labels: devops

add calcom to nginx
  .github/workflows/call-deploy.yml
  nginx/nginx.dev.conf.conf
  nginx/nginx.stage.conf.conf
Labels: devops

add `CalcomTokenView`
  api/settings.py
  api/urls.py
  app/base/constants/__init__.py
  app/base/constants/immutables.py
  app/base/requesters/__init__.py
  app/base/requesters/base.py
  app/calcom/requesters/__init__.py
  app/calcom/requesters/cal_api.py
  app/calcom/serializers/__init__.py
  app/calcom/serializers/token.py
  app/calcom/services/auth.py
  app/calcom/services/token.py
  app/calcom/urls.py
  app/calcom/views/token.py
  docker-compose.yml
Labels: task, devops

Добавить автоматическую регистрацию пользователя в calcom (#391)
  api/settings.py
  api/urls.py
  app/base/constants/__init__.py
  app/base/constants/immutables.py
  app/base/requesters/__init__.py
  app/base/requesters/base.py
  app/calcom/requesters/__init__.py
  app/calcom/requesters/cal_api.py
  app/calcom/serializers/__init__.py
  app/calcom/serializers/token.py
  app/calcom/services/auth.py
  app/calcom/services/token.py
  app/calcom/urls.py
  app/calcom/views/token.py
  docker-compose.yml
Labels: task, devops

fix line separators
  docker/docker-compose.base.yml
Labels: devops

add `update_locales` command
  app/base/management/commands/update_locales.py
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
Labels: task, devops

Автоматизировать обновление json i18n между средами (#397)
  app/base/management/commands/update_locales.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
Labels: task, devops

fix `synchronize_dicts`
  app/base/management/commands/update_locales.py
Labels: task

fix email settings
  api/settings.py
Labels: task

поправить способ отправки Форм (сейчас на стороне клиента очень долго грузится) (#400)
  api/settings.py
Labels: task

add ELK
  docker-compose.yml
  docker/docker-compose.base.yml
  logstash/logstash.conf
  nginx/nginx.local.conf.conf
Labels: devops

add calcom email config
  .github/workflows/call-deploy.yml
  envs/.base.env
Labels: devops

Настройка верификационных email для локального тестирования cal.com (#409)
  .github/workflows/call-deploy.yml
  envs/.base.env
Labels: devops

WIP
  k8s/Dockerfile
  nginx/k8s.dockerfile
  nginx/nginx.k8s.conf.conf
Labels: devops

add nginx
  k8s/nginx-deployment.yaml
  k8s/nginx-ingress.yaml
  k8s/nginx-service.yaml
  nginx/k8s.dockerfile
  nginx/nginx.k8s.conf
Labels: devops

update cacher timeouts
  app/users/verification/__init__.py
Labels: task

add `is_registered`
  app/mentors/admin.py
  app/mentors/models.py
  app/users/admin/admin.py
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/serializers/me.py
Labels: task

Изменить время сессий email кодов (#425)
  app/users/verification/__init__.py
Labels: task

fix `PasswordResetter._get_verifier`
  app/users/password_reset/resetter.py
Labels: task

Добавить в секцию адкинки Mentors статус регистрации (#426)
  app/mentors/admin.py
  app/mentors/models.py
  app/users/admin/admin.py
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/serializers/me.py
Labels: task

add `send_mentor_registration_email`
  app/mentors/admin.py
  app/users/password_reset/resetter.py
Labels: task

Разделить функции отправки Reset email и Registration email для менторов (#428)
  app/mentors/admin.py
  app/users/password_reset/resetter.py
Labels: task

WIP
  k8s/Dockerfile
  k8s/nginx-deployment.yaml
  k8s/nginx-ingress.yaml
  k8s/nginx-service.yaml
  nginx/k8s.dockerfile
Labels: devops

add redis instances
  api/settings.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
  envs/.base.env
  redis/Dockerfile
  redis/redis-cache.conf
  redis/redis-storage.conf
  redis/redis.conf
Labels: task, devops

use storage redis
  api/settings.py
  app/base/services/cache.py
  app/base/tests/views/base.py
  app/users/verification/__init__.py
Labels: task, test

Разделить Redis (#454)
  api/settings.py
  app/base/services/cache.py
  app/base/tests/views/base.py
  app/users/verification/__init__.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
  envs/.base.env
  redis/Dockerfile
  redis/redis-cache.conf
  redis/redis-storage.conf
  redis/redis.conf
Labels: task, test, devops

add update_image workflow
  .github/workflows/call-deploy.yml
  .github/workflows/call-update_image.yml
  .github/workflows/push-main.yml
Labels: devops

add update_image workflow
  .github/workflows/call-deploy.yml
  .github/workflows/call-update_image.yml
  .github/workflows/push-main.yml
Labels: devops

fix
  .github/workflows/call-update_version.yml
  .github/workflows/push-main.yml
Labels: devops

fix
  .github/workflows/push-main.yml
Labels: devops

fix
  .github/workflows/call-update_version.yml
Labels: devops

try
  .github/workflows/call-update_version.yml
Labels: devops

try
  .github/workflows/call-update_version.yml
Labels: devops

Update call-update_version.yml
  .github/workflows/call-update_version.yml
Labels: devops

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt
