Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

WIP
  .github/workflows/call-build.yml
  .github/workflows/call-ci.yml
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/call-update_version.yml
  .github/workflows/push-create_pr.yml
  .github/workflows/push-not_main.yml
  Dockerfile
  requirements.txt
Labels: devops, requirements

fix build cache
  .github/workflows/call-build.yml
Labels: devops

rename cal to platform
  api/settings.py
  api/urls.py
  app/base/enums/currency.py
  app/cal/apps.py
  app/cal/managers.py
  app/cal/urls.py
  app/cal/views/token.py
  app/platform/__init__.py
  app/platform/apps.py
  app/platform/managers.py
  app/platform/migrations/__init__.py
  app/platform/models/__init__.py
  app/platform/models/_unmanaged.py
  app/platform/requesters/__init__.py
  app/platform/requesters/platform_api.py
  app/platform/serializers/__init__.py
  app/platform/serializers/token.py
  app/platform/services/__init__.py
  app/platform/services/auth.py
  app/platform/urls.py
  app/platform/views/__init__.py
  app/platform/views/token.py
  app/users/regisration/registerer.py
  docker-compose.yml
  docker/docker-compose.base.yml
  envs/.base.env
  nginx/nginx.local.conf.conf
Labels: task, devops

fix tests passing
  app/users/regisration/registerer.py
  app/users/tests/views/test_register/test.py
  docker-compose.yml
  docker/docker-compose.base.yml
  envs/.base.env
Labels: task, test, devops

fix flake8 lint errors
  app/base/middlewares/ws_log.py
  app/base/tests/base.py
  app/pages/urls.py
Labels: task, test

add custom FileSystemStorage
  .gitignore
  api/settings.py
  app/base/storages/file_system.py
  nginx/local.dockerfile
  nginx/nginx.local.conf.conf
Labels: task, devops

add /platform/token on root domain
  api/settings.py
  app/base/requesters/base.py
  app/base/utils/common.py
  app/base/utils/decorators.py
  app/platform/requesters/platform_api.py
  app/platform/serializers/__init__.py
  app/platform/serializers/token.py
  app/platform/services/auth.py
  app/platform/views/token.py
  docker/docker-compose.base.yml
  envs/.base.env
  nginx/nginx.local.conf.conf
  requirements.txt
Labels: task, devops, requirements

fix platform image in docker-compose
  docker/docker-compose.base.yml
Labels: devops

Синхронизация учеток + slug c Cal.com (#503)
  .gitignore
  api/settings.py
  api/urls.py
  app/base/enums/currency.py
  app/base/middlewares/ws_log.py
  app/base/requesters/base.py
  app/base/storages/file_system.py
  app/base/tests/base.py
  app/base/utils/common.py
  app/base/utils/decorators.py
  app/cal/apps.py
  app/cal/serializers/token.py
  app/cal/services/auth.py
  app/cal/urls.py
  app/cal/views/__init__.py
  app/cal/views/token.py
  app/pages/urls.py
  app/platform/__init__.py
  app/platform/apps.py
  app/platform/managers.py
  app/platform/migrations/__init__.py
  app/platform/models/__init__.py
  app/platform/models/_unmanaged.py
  app/platform/requesters/__init__.py
  app/platform/requesters/platform_api.py
  app/platform/services/__init__.py
  app/platform/services/auth.py
  app/platform/urls.py
  app/platform/views/__init__.py
  app/platform/views/token.py
  app/users/regisration/registerer.py
  app/users/tests/views/test_register/test.py
  docker-compose.yml
  docker/docker-compose.base.yml
  envs/.base.env
  nginx/local.dockerfile
  nginx/nginx.local.conf.conf
  requirements.txt
Labels: task, test, devops, requirements

add redis volumes
  docker-compose.yml
  docker/docker-compose.base.yml
Labels: devops

Настроить admin setup в platform (#578)
  docker-compose.yml
  docker/docker-compose.base.yml
Labels: devops

WIP
  app/platform/requesters/platform_api.py
  app/platform/services/auth.py
Labels: task

add code snippet to add calendar event
  api/settings.py
  api/urls.py
  app/calendar/__init__.py
  app/calendar/apps.py
  app/calendar/services/__init__.py
  app/calendar/urls.py
  app/calendar/views/__init__.py
  app/calendar/views/general.py
  requirements.txt
Labels: task, requirements

add CredentialsContexter
  app/calendar/services/contexters/__init__.py
  app/calendar/services/contexters/credentials.py
  docker-compose.yml
  nginx/nginx.local.conf.conf
Labels: task, devops

update google-calendar code snippet
  app/calendar/services/contexters/credentials.py
  app/calendar/views/general.py
Labels: task

Авторизация в Google с запросом необходимых разрешений (#586)
  api/settings.py
  api/urls.py
  app/calendar/__init__.py
  app/calendar/apps.py
  app/calendar/services/__init__.py
  app/calendar/services/contexters/__init__.py
  app/calendar/services/contexters/credentials.py
  app/calendar/urls.py
  app/calendar/views/__init__.py
  app/calendar/views/general.py
  docker-compose.yml
  nginx/nginx.local.conf.conf
  requirements.txt
Labels: task, devops, requirements

add GoogleCalendarEventFactory
  app/calendar/factories/__init__.py
  app/calendar/factories/event.py
  app/calendar/views/general.py
Labels: task

add `GoogleCalendarEventFactory` with tests
  app/calendar/entites/__init__.py
  app/calendar/entites/calendar_event.py
  app/calendar/migrations/__init__.py
  app/calendar/models.py
  app/calendar/services/factories/__init__.py
  app/calendar/services/factories/events/__init__.py
  app/calendar/services/factories/events/base.py
  app/calendar/services/factories/events/google.py
  app/calendar/tests/__init__.py
  app/calendar/tests/services/__init__.py
  app/calendar/tests/services/factories/__init__.py
  app/calendar/tests/services/factories/events/__init__.py
  app/calendar/tests/services/factories/events/test_google.py
  app/platform/models/__init__.py
  app/platform/models/_unmanaged.py
  app/users/tests/factories.py
Labels: task, test

add `GoogleCalendarEventFactory` with tests
  app/calendar/migrations/0001_initial.py
Labels: task

delete old `GoogleCalendarEventFactory`
  app/calendar/factories/__init__.py
  app/calendar/factories/event.py
Labels: task

add `TimezoneConverter`
  app/base/tests/fakers.py
  app/base/views/base.py
  app/calendar/managers/__init__.py
  app/calendar/managers/event.py
  app/calendar/migrations/0001_initial.py
  app/calendar/models.py
  app/calendar/services/converters/__init__.py
  app/calendar/services/converters/timezone.py
  app/calendar/tests/services/factories/events/test_google.py
  app/calendar/urls.py
  app/calendar/views/__init__.py
  app/calendar/views/general.py
Labels: task, test

add context to test log messages
  app/base/tests/base.py
  app/calendar/tests/services/factories/events/test_google.py
Labels: task, test

add `BookingSlotsFactory`
  app/bookings/entites/__init__.py
  app/bookings/entites/slot.py
  app/bookings/services/__init__.py
  app/bookings/services/factories/__init__.py
  app/bookings/services/factories/slots.py
  app/bookings/tests/services/__init__.py
  app/bookings/tests/services/factories/__init__.py
  app/bookings/tests/services/factories/test_slots.py
  app/calendar/tests/factories.py
  app/calendar/tests/services/factories/events/test_google.py
Labels: task, test

add `BookingsSlotsTrialView`
  app/base/serializers/fields/image.py
  app/base/serializers/fields/timezone.py
  app/bookings/entites/booking_type.py
  app/bookings/enums/__init__.py
  app/bookings/enums/booking_type.py
  app/bookings/serializers/slots/__init__.py
  app/bookings/serializers/slots/trial.py
  app/bookings/tests/views/slots/__init__.py
  app/bookings/tests/views/slots/test_trial.py
  app/bookings/urls.py
  app/bookings/views/slots/__init__.py
  app/bookings/views/slots/trial.py
Labels: task, test

try
  .github/workflows/call-ci.yml
  Dockerfile
  docker/test/docker-compose.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops
