Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

update `UsersPasswordResetView`
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/regisration/registerer.py
  app/users/serializers/password/reset.py
  app/users/tests/views/test_password/__init__.py
  app/users/tests/views/test_password/test_reset.py
  app/users/tests/views/test_register/test.py
  app/users/tests/views/test_token.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/verifiers/email.py
  app/users/views/password/reset.py
  app/users/views/register/__init__.py
  app/users/views/register/code.py
  app/users/views/register/general.py
Labels: task, test

Доработать логику по Смене пароля (#191)
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/regisration/registerer.py
  app/users/serializers/password/reset.py
  app/users/tests/views/test_password/__init__.py
  app/users/tests/views/test_password/test_reset.py
  app/users/tests/views/test_register/test.py
  app/users/tests/views/test_token.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/verifiers/email.py
  app/users/views/password/reset.py
  app/users/views/register/__init__.py
  app/users/views/register/code.py
  app/users/views/register/general.py
Labels: task, test

update django-celery-beat: 2.4.0 -> 2.5.0
  requirements.txt
Labels: requirements

Update django-celery-beat: 2.4.0 -> 2.5.0 (#196)
  requirements.txt
Labels: requirements

fix `UpdateMentorSerializer`
  app/mentors/serializers/detail.py
Labels: task

update `psycopg2-binary` -> `psycopg==3.19.0`
  requirements.txt
Labels: requirements

Swagger: AssertionError (#198)
  app/mentors/serializers/detail.py
Labels: task

Update `psycopg2-binary` -> `psycopg==3.19.0` (#199)
  requirements.txt
Labels: requirements

fix `TagsCategoriesView.get_queryset`
  app/base/tests/views/base.py
  app/mentors/tests/views/test_detail.py
  app/mentors/tests/views/test_general.py
  app/pages/tests/views/test_locale.py
  app/pages/tests/views/test_main/test_mentor.py
  app/pages/tests/views/test_personals/test_mentor.py
  app/tags/tests/views/categories/__init__.py
  app/tags/tests/views/categories/test.py
  app/tags/tests/views/test.py
  app/tags/views/categories/general.py
  app/users/tests/factories.py
Labels: task, test

Поправить 500 ошибку (применительно к Поиску на dev.creaty.club) (#200)
  app/base/tests/views/base.py
  app/mentors/tests/views/test_detail.py
  app/mentors/tests/views/test_general.py
  app/pages/tests/views/test_locale.py
  app/pages/tests/views/test_main/test_mentor.py
  app/pages/tests/views/test_personals/test_mentor.py
  app/tags/tests/views/categories/__init__.py
  app/tags/tests/views/categories/test.py
  app/tags/tests/views/test.py
  app/tags/views/categories/general.py
  app/users/tests/factories.py
Labels: task, test

fix `UsersRegisterResendView.throttle_map`
  app/base/tests/views/base.py
  app/users/views/register/resend.py
Labels: task, test

fix expected status in tests
  api/settings.py
  app/base/tests/views/base.py
  app/pages/tests/views/test_main/test_mentor.py
  app/pages/tests/views/test_personals/test_mentor.py
Labels: task, test

decrease password reset code lifetime: 60 m -> 30 m
  app/users/verification/__init__.py
Labels: task

add PackageAdmin
  api/settings.py
  app/base/middlewares/log.py
  app/mentors/admin.py
Labels: task

add admin tag/categories
  app/tags/admin.py
Labels: task

add admins
  api/settings.py
  api/translation.py
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0002_remove_field_placeholder_en_and_more.py
  app/geo/management/commands/import_geo.py
  app/geo/migrations/0002_remove_country_name_en_remove_country_name_ru_and_more.py
  app/geo/models.py
  app/mentors/admin.py
  app/mentors/migrations/0003_remove_mentor_first_name_en_and_more.py
  app/pages/migrations/0002_remove_faq_answer_en_remove_faq_answer_ru_and_more.py
  app/tags/admin.py
  app/tags/migrations/0005_remove_category_title_en_remove_category_title_ru_and_more.py
  app/users/admin.py
  docker-compose.yml
  requirements.txt
Labels: task, devops, requirements

Доработка функциональности админки Django (#219)
  api/settings.py
  api/translation.py
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0002_remove_field_placeholder_en_and_more.py
  app/geo/management/commands/import_geo.py
  app/geo/migrations/0002_remove_country_name_en_remove_country_name_ru_and_more.py
  app/geo/models.py
  app/mentors/admin.py
  app/mentors/migrations/0003_remove_mentor_first_name_en_and_more.py
  app/pages/migrations/0002_remove_faq_answer_en_remove_faq_answer_ru_and_more.py
  app/tags/admin.py
  app/tags/migrations/0005_remove_category_title_en_remove_category_title_ru_and_more.py
  app/users/admin.py
  docker-compose.yml
  requirements.txt
Labels: task, devops, requirements

hotfix: last migrations
  app/forms/migrations/0002_remove_field_placeholder_en_and_more.py
  app/geo/management/commands/import_geo.py
  app/geo/migrations/0002_remove_country_name_en_remove_country_name_ru_and_more.py
  app/mentors/migrations/0003_remove_mentor_first_name_en_and_more.py
  app/tags/migrations/0005_remove_category_title_en_remove_category_title_ru_and_more.py
Labels: task

Update pr-add_labels.yml
  .github/workflows/pr-add_labels.yml
Labels: devops

change display names in admin panel
  app/mentors/admin.py
  app/mentors/models.py
  app/tags/models.py
Labels: task

add admin interface dump
  admin_interface_theme_Main.json
Labels: none

fix `UserAdmin.readonly_fields`
  app/users/admin.py
Labels: task

hotfix: `CreateTagsCategoriesSerializer: title_ru -> title`
  app/tags/serializers/categories/general.py
Labels: task

hotfix: try to fix add labels
  .github/workflows/pr-add_labels.yml
Labels: devops

Add booking models This commit adds three new models for handling bookings:
  api/settings.py
  api/urls.py
  app/base/views/base.py
  app/bookings/__init__.py
  app/bookings/admin.py
  app/bookings/apps.py
  app/bookings/migrations/0001_initial.py
  app/bookings/migrations/__init__.py
  app/bookings/models.py
  app/bookings/urls.py
  app/forms/admin.py
  app/forms/migrations/0003_application_created_at.py
  app/forms/models/_forms.py
  app/forms/serializers/applications/general.py
  app/forms/views/applications/general.py
Labels: task

add `UsersRegisterView.put`
  app/users/regisration/registerer.py
  app/users/serializers/register/general.py
  app/users/tests/views/test_register/test.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/verifiers/email.py
  app/users/views/register/__init__.py
  app/users/views/register/code.py
  app/users/views/register/general.py
  docker-compose.yml
Labels: task, test, devops

Изменение API для верификации почты (#232)
  app/users/regisration/registerer.py
  app/users/serializers/register/general.py
  app/users/tests/views/test_register/test.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/verifiers/email.py
  app/users/views/register/__init__.py
  app/users/views/register/code.py
  app/users/views/register/general.py
  docker-compose.yml
Labels: task, test, devops

fix `PackageFactory`
  app/mentors/tests/factories.py
Labels: task, test

Доработать API для блок Booking (#231)
  api/settings.py
  api/urls.py
  app/base/views/base.py
  app/bookings/__init__.py
  app/bookings/admin.py
  app/bookings/apps.py
  app/bookings/migrations/0001_initial.py
  app/bookings/migrations/__init__.py
  app/bookings/models.py
  app/bookings/serializers/__init__.py
  app/bookings/serializers/hourly.py
  app/bookings/serializers/package.py
  app/bookings/serializers/trial.py
  app/bookings/tests/__init__.py
  app/bookings/tests/views/__init__.py
  app/bookings/tests/views/test_hourly.py
  app/bookings/tests/views/test_package.py
  app/bookings/tests/views/test_trial.py
  app/bookings/urls.py
  app/bookings/views/__init__.py
  app/bookings/views/hourly.py
  app/bookings/views/package.py
  app/bookings/views/trial.py
  app/forms/admin.py
  app/forms/migrations/0003_application_created_at.py
  app/forms/models/_forms.py
  app/forms/serializers/applications/general.py
  app/forms/views/applications/general.py
  app/mentors/tests/factories.py
Labels: task, test

add `UsersPasswordResetView.throttle_map`
  api/settings.py
  app/users/views/password/reset.py
  envs/.base.env
  envs/.dev.example.env
  envs/.prod.example.env
  envs/.stage.example.env
  envs/.test.env
Labels: task, devops

Доработать отправку запроса Resend при смене пароля (#234)
  api/settings.py
  app/users/views/password/reset.py
  envs/.base.env
  envs/.dev.example.env
  envs/.prod.example.env
  envs/.stage.example.env
  envs/.test.env
Labels: task, devops

update `ApplicationAdmin`: add `UserRegisteredFilter` and `UserVerifiedFilter`
  app/forms/admin.py
  app/forms/models/_forms.py
  app/users/admin.py
  docker-compose.yml
Labels: task, devops

add `Application.link`
  app/forms/admin.py
  app/forms/management/commands/create_forms.py
  app/forms/migrations/0004_application_link_alter_field_type.py
  app/forms/models/_forms.py
  app/forms/models/choices.py
  app/forms/serializers/applications/general.py
Labels: task

remove `MentorInfo`
  api/urls.py
  app/admin_/serializers/__init__.py
  app/admin_/serializers/mentors.py
  app/admin_/urls.py
  app/admin_/views/__init__.py
  app/admin_/views/mentors.py
  app/mentors/admin.py
  app/mentors/filters/general.py
  app/mentors/migrations/0003_remove_mentor_first_name_en_and_more.py
  app/mentors/migrations/0004_mentor_city_mentor_experience_mentor_languages_and_more.py
  app/mentors/migrations/0005_remove_mentor_info_delete_mentorinfo.py
  app/mentors/migrations/0006_mentor_link_mentor_tags_alter_mentor_country_and_more.py
  app/mentors/migrations/0007_remove_mentor_tag_set.py
  app/mentors/models.py
  app/mentors/serializers/detail.py
  app/mentors/serializers/general.py
  app/mentors/tests/factories.py
  app/mentors/tests/views/test_detail.py
  app/mentors/tests/views/test_general.py
  app/mentors/views/detail.py
  app/mentors/views/general.py
  app/pages/serializers/main.py
  app/pages/services/page.py
  app/pages/views/base.py
Labels: task, test

fix `related_name`s: mentor -> mentors
  app/pages/services/page.py
  app/pages/views/base.py
  app/tags/views/categories/general.py
Labels: task

update Mentor model in the admin
  app/geo/management/commands/import_geo.py
  app/mentors/admin.py
  app/mentors/migrations/0008_mentor_email.py
  app/mentors/models.py
  app/mentors/serializers/general.py
  app/users/management/__init__.py
  app/users/management/commands/__init__.py
  app/users/management/commands/create_admin.py
  app/users/managers.py
Labels: task

add Tag and Category admin
  app/mentors/admin.py
  app/tags/admin.py
  app/tags/models.py
  app/users/admin.py
Labels: task

update Tag and Category admin
  app/tags/admin.py
Labels: task

fix env.cache
  api/settings.py
Labels: task

fix `ApplicationAdmin`
  app/forms/admin.py
  app/forms/models/choices.py
Labels: task
