Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  requirements.txt
Labels: requirements

try
  .dockerignore
  .github/workflows/call-ci.yml
  .gitignore
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
  requirements.txt
Labels: devops, requirements

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
Labels: devops

try
  .github/workflows/call-ci.yml
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

try
  docker/test/docker-compose.yml
Labels: devops

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt
