Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

fix `PackageBooking.price`
  app/bookings/models.py
Labels: task

Неверно считается сумма сессий (письмо для админа) (#338)
  app/bookings/models.py
Labels: task

WIP
  db/postgresql.conf
Labels: none

add `DEFAULT_FROM_EMAIL`
  api/settings.py
Labels: task

Поменять "Отправителя" писем (#339)
  api/settings.py
Labels: task

add db configs
  api/settings.py
  db/init-ssl.sh
  db/postgresql.conf
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  envs/.base.env
  envs/.test.env
  redis/redis.conf
Labels: task, devops

add list_cache
  app/base/apps.py
  app/base/apps/__init__.py
  app/base/apps/mixin.py
  app/base/middlewares/log.py
  app/base/services/cache.py
  app/base/views/base.py
  app/mentors/apps.py
  app/mentors/signals.py
  app/pages/tests/views/test_personals/test_general.py
  app/tags/apps.py
  app/tags/signals.py
  app/tags/views/categories/general.py
  app/users/views/me.py
Labels: task, test

fixed title
  app/forms/templates/email/first-trial-session.html
Labels: task

fixed title (#340)
  app/forms/templates/email/first-trial-session.html
Labels: task

updated titles im emails
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

updated titles in emails (#344)
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

WIP
  zabbix/Dockerfile
  zabbix/_docker-compose.yml
  zabbix/docker-compose.yml
  zabbix/nginx.conf
  zabbix/tmp/Dockerfile
  zabbix/tmp/docker-compose.yml
  zabbix/tmp/nginx.conf
Labels: none

preparing for stage deployment
  .github/workflows/call-deploy.yml
  .github/workflows/release-pre_release.yml
  docker/dev/docker-compose.yml
  docker/prod/.env
  docker/prod/docker-compose.yml
  docker/stage/.env
  docker/stage/docker-compose.yml
  docker/test/.env
  envs/.base.env
  envs/.stage.example.env
  envs/.test.env
Labels: devops

try to create dev directory
  .github/workflows/call-deploy.yml
Labels: devops

try to create dev directory
  .github/workflows/call-deploy.yml
Labels: devops

try to create dev directory
  .github/workflows/call-deploy.yml
Labels: devops

try to create dev directory
  .github/workflows/call-deploy.yml
Labels: devops

hotfixes
  app/mentors/admin.py
  docker/dev/docker-compose.yml
  nginx/nginx.dev.conf.conf
  nginx/nginx.prod.conf.conf
  nginx/nginx.stage.conf.conf
Labels: task, devops

remove `AUTH_PASSWORD_VALIDATORS`
  api/settings.py
Labels: task

fix deploy
  .github/workflows/call-deploy.yml
Labels: devops

ci/cd fixes
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/release-published.yml
  Dockerfile
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
  nginx/nginx.stage.conf.conf
  redis/Dockerfile
Labels: devops

ci/cd fixes
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

ci/cd fixes
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
Labels: devops

ci/cd fixes
  .github/workflows/call-deploy.yml
Labels: devops

ci/cd fixes
  .github/workflows/call-sentry_release.yml
  docker/dev/docker-compose.yml
  docker/stage/docker-compose.yml
Labels: devops

deploy fixes
  db/init-ssl.sh
Labels: none

add stage `postgresql.conf`
  docker/stage/docker-compose.yml
Labels: devops

Update call-sentry_release.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

make `AbstractBooking.description` optional
  app/bookings/models.py
Labels: task

make `AbstractBooking.description` optional
  app/bookings/migrations/0003_alter_hourlybooking_description_and_more.py
Labels: task

update `SocialStrategy`
  app/users/strategy.py
  docker-compose.yml
  envs/.base.env
  nginx/local.dockerfile
  nginx/nginx.local.conf.conf
Labels: task, devops

Добавить экран Success после регистрации юзера через гугл (#347)
  app/users/strategy.py
  docker-compose.yml
  envs/.base.env
  nginx/local.dockerfile
  nginx/nginx.local.conf.conf
Labels: task, devops

add `upload_to` functions
  app/base/middlewares/log.py
  app/mentors/migrations/0002_remove_mentor_avatar.py
  app/mentors/models.py
  app/tags/migrations/0002_alter_category_icon.py
  app/tags/migrations/0003_alter_category_icon.py
  app/tags/models.py
  app/users/migrations/0002_user_avatar.py
  app/users/migrations/0003_alter_user_avatar.py
  app/users/models.py
  app/users/utils.py
Labels: task

add custom `MediaCloudinaryStorage`
  api/_patch_django_cleanup.py
  api/settings.py
  app/base/storages/__init__.py
  app/base/storages/cloudinary.py
  app/tags/models.py
  app/users/models.py
  app/users/utils.py
  docker/test/docker-compose.yml
  envs/.test.env
Labels: task, devops

fix `SocialLink.icon`
  app/pages/migrations/0003_alter_sociallink_icon.py
  app/pages/models/_links.py
Labels: task

update `PasswordResetter._get_verifier`
  app/users/models.py
  app/users/password_reset/resetter.py
Labels: task

fixed emails top, bottom and logos
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

Fixed emails top, bottom and logos layout (#350)
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

fix `UsersPasswordResetTest.test_post_mentor`
  app/users/models.py
  app/users/tests/views/test_password/test_reset.py
Labels: task, test

Не отправлять письмо о смене пароля только что Зарегистрированным менторам (#349)
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/tests/views/test_password/test_reset.py
Labels: task, test
