Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-envs.yml
  envs/.base.env
Labels: devops

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/push-task-275.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/push-task-275.yml
Labels: devops

try
  .github/workflows/push-task-275.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/push-task-275.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
Labels: devops

try
  .github/workflows/call-envs.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
  .github/workflows/call-deploy_dev.yml
  .github/workflows/call-deploy_prod.yml
  .github/workflows/call-deploy_stage.yml
  .github/workflows/push-main.yml
  .github/workflows/release-pre_release.yml
  .github/workflows/release-published.yml
Labels: devops

try
  .github/workflows/call-deploy.yml
Labels: devops

add CLOUDINARY_URL to secrets
  .github/workflows/call-deploy.yml
Labels: devops

remove envs workflow
  .github/workflows/call-deploy.yml
  .github/workflows/call-envs.yml
  .github/workflows/push-task-275.yml
Labels: devops

add `variable_keys`
  .github/workflows/call-deploy.yml
Labels: devops

add filters for tags, categories and pages
  app/pages/views/base.py
  app/pages/views/peronals/base.py
  app/tags/views/categories/general.py
  app/tags/views/general.py
Labels: task

return test in CI
  .github/workflows/call-ci.yml
Labels: devops

Перенести ключи в Github (#278)
  .github/workflows/call-deploy.yml
  .github/workflows/call-deploy_dev.yml
  .github/workflows/call-deploy_prod.yml
  .github/workflows/call-deploy_stage.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/push-main.yml
  .github/workflows/release-pre_release.yml
  .github/workflows/release-published.yml
  envs/.base.env
Labels: devops

Update call-deploy.yml
  .github/workflows/call-deploy.yml
Labels: devops

Update call-deploy.yml
  .github/workflows/call-deploy.yml
Labels: devops

Скрыть все страницы БЕЗ менторов (#280)
  app/pages/views/base.py
  app/pages/views/peronals/base.py
  app/tags/views/categories/general.py
  app/tags/views/general.py
Labels: task

hotfix: add `.distinct()` to GET /tags/categories/
  app/tags/views/categories/general.py
Labels: task

add SSL to db
  .gitignore
  db/Dockerfile
  db/init-ssl.sh
  docker/docker-compose.base.yml
Labels: devops

disable SSL for local and test
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
Labels: devops

add Set certs to deploy
  .github/workflows/call-deploy.yml
Labels: devops

Добавить SSL на БД (#284)
  .github/workflows/call-deploy.yml
  .gitignore
  db/Dockerfile
  db/init-ssl.sh
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
  docker/stage/docker-compose.yml
  docker/test/docker-compose.yml
Labels: devops

hotfix: add mkdirs certs
  .github/workflows/call-deploy.yml
Labels: devops

hotfix: add mkdirs certs
  .github/workflows/call-deploy.yml
Labels: devops

add `test_get` to `TagsTest` and `TagsCategoriesTest`
  app/base/tests/base.py
  app/tags/tests/views/categories/test.py
  app/tags/tests/views/categories/test_general.py
  app/tags/tests/views/test_general.py
  db/init-ssl.sh
Labels: task, test

add `PagesMainTest`
  app/base/tests/base.py
  app/base/tests/views/base.py
  app/pages/tests/views/test_main/test_general.py
  app/tags/tests/views/categories/test_general.py
  app/tags/tests/views/test_general.py
Labels: task, test

fix `TagsCategoriesView`
  app/tags/tests/views/categories/test_general.py
  app/tags/views/categories/general.py
Labels: task, test

add `PagesPersonalTest`
  app/pages/tests/views/test_personals/test_general.py
Labels: task, test

Всё ещё попадаются Теги пустышки (#290)
  app/base/tests/base.py
  app/base/tests/views/base.py
  app/pages/tests/views/test_main/test_general.py
  app/pages/tests/views/test_personals/test_general.py
  app/tags/tests/views/categories/test.py
  app/tags/tests/views/categories/test_general.py
  app/tags/tests/views/test_general.py
  app/tags/views/categories/general.py
  db/init-ssl.sh
Labels: task, test

fix `BasePageView`
  app/pages/tests/views/test_main/test_general.py
  app/pages/tests/views/test_personals/test_general.py
  app/pages/views/base.py
  app/pages/views/main.py
  app/pages/views/mentor.py
  app/pages/views/peronals/base.py
  app/tags/tests/views/categories/test_general.py
  app/tags/tests/views/test_general.py
  app/tags/views/categories/general.py
  app/tags/views/general.py
Labels: task, test

Всё ещё попадаются Теги пустышки (#291)
  app/pages/tests/views/test_main/test_general.py
  app/pages/tests/views/test_personals/test_general.py
  app/pages/views/base.py
  app/pages/views/main.py
  app/pages/views/mentor.py
  app/pages/views/peronals/base.py
  app/tags/tests/views/categories/test_general.py
  app/tags/tests/views/test_general.py
  app/tags/views/categories/general.py
  app/tags/views/general.py
Labels: task, test
