Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

add my.cnd for zabbix mysql
  nginx/nginx.local.conf.conf
  nginx/nginx.stage.conf.conf
  zabbix/Dockerfile
  zabbix/_docker-compose.yml
  zabbix/docker-compose.yml
  zabbix/mysql/my.cnf
  zabbix/nginx.conf
  zabbix/tmp/Dockerfile
  zabbix/tmp/docker-compose.yml
  zabbix/tmp/nginx.conf
Labels: devops

Add Zabbix (#354)
  nginx/nginx.local.conf.conf
  nginx/nginx.stage.conf.conf
  zabbix/docker-compose.yml
  zabbix/mysql/my.cnf
Labels: devops

try `MentorAdmin.filter_vertical`
  app/mentors/admin.py
Labels: task

add `CategoryAdminForm.icon`
  app/base/forms/fields/image.py
  app/tags/admin.py
Labels: task

Исправить иконку категорий в админке: Добавить возможность заливать SVG (#357)
  app/base/forms/fields/image.py
  app/tags/admin.py
Labels: task

add `FaqAdmin`, `SocialLinkAdmin`, `DocumentLinkAdmin`
  app/mentors/admin.py
  app/pages/admin.py
  app/pages/apps.py
  app/pages/models/_faq.py
  app/pages/models/_links.py
Labels: task

Вытащить в админку Django оставшиеся модели (функционал) (#358)
  app/mentors/admin.py
  app/pages/admin.py
  app/pages/apps.py
  app/pages/models/_faq.py
  app/pages/models/_links.py
Labels: task

add `GUNICORN_WORKERS`
  docker-compose.yml
  envs/.base.env
  gunicorn/config.py
Labels: devops

add `GUNICORN_WORKERS`
  .github/workflows/call-deploy.yml
Labels: devops

add `TagsSignalsTest`
  app/base/tests/base.py
  app/pages/migrations/0004_alter_documentlink_url_alter_page_category_and_more.py
  app/pages/models/_pages.py
  app/pages/services/page.py
  app/tags/models.py
  app/tags/tests/factories.py
  app/tags/tests/test_signals.py
  envs/.base.env
  gunicorn/config.py
Labels: task, test, devops

Автотесты (#361)
  app/base/tests/base.py
  app/pages/migrations/0004_alter_documentlink_url_alter_page_category_and_more.py
  app/pages/models/_pages.py
  app/pages/services/page.py
  app/tags/models.py
  app/tags/tests/factories.py
  app/tags/tests/test_signals.py
  envs/.base.env
  gunicorn/config.py
Labels: task, test, devops

fix import patch for `django_cleanup`
  api/settings.py
Labels: task

Поправить баг с загрузкой картинок через админку (#363)
  api/settings.py
Labels: task

fix `PasswordResetter._get_verifier`
  app/users/password_reset/resetter.py
Labels: task

fix `FormApplicationsView` and `BaseBookingsView`
  app/bookings/admin.py
  app/bookings/senders/operator.py
  app/bookings/templates/email/admin-request-product.html
  app/bookings/views/base.py
  app/forms/views/applications/general.py
Labels: task

fix `UsersPasswordResetTest`
  app/forms/tests/views/applications/test_general.py
  app/mentors/admin.py
  app/users/password_reset/resetter.py
  app/users/tests/views/test_password/test_reset.py
Labels: task, test

Поправить бизнес-логику для отправки писем (#366)
  app/bookings/admin.py
  app/bookings/senders/operator.py
  app/bookings/templates/email/admin-request-product.html
  app/bookings/views/base.py
  app/forms/tests/views/applications/test_general.py
  app/forms/views/applications/general.py
  app/mentors/admin.py
  app/users/tests/views/test_password/test_reset.py
Labels: task, test

add `_BaseBookingAdmin.has_discount`
  api/settings.py
  app/bookings/admin.py
Labels: task

Доработка заявок в админке (#369)
  api/settings.py
  app/bookings/admin.py
Labels: task

update `PasswordResetter.reset`
  app/users/password_reset/resetter.py
Labels: task

Поправить бизнес-логику для отправки писем (#371)
  app/users/password_reset/resetter.py
Labels: task

Update release-published.yml
  .github/workflows/release-published.yml
Labels: devops

add `avatar` to `GETUsersMeSerializer`
  app/users/serializers/me.py
Labels: task

Добавить свойство user avatar (#375)
  app/users/serializers/me.py
Labels: task

fix prod configs
  docker/prod/docker-compose.yml
  nginx/nginx.prod.conf.conf
Labels: devops

Перенести на Digital Ocean production (#376)
  docker/prod/docker-compose.yml
  nginx/nginx.prod.conf.conf
Labels: devops

fix stage pre-versioning
  .github/workflows/release-pre_release.yml
  nginx/stage.dockerfile
Labels: devops

fix web stage pre-versioning
  .github/workflows/call-deploy.yml
  .github/workflows/release-pre_release.yml
Labels: devops

fix web stage pre-versioning
  .github/workflows/call-deploy.yml
Labels: devops

Update release-pre_release.yml
  .github/workflows/release-pre_release.yml
Labels: devops

Update and rename release-published.yml to release-edited.yml
  .github/workflows/release-edited.yml
Labels: devops

Rename release-pre_release.yml to release-published.yml
  .github/workflows/release-published.yml
Labels: devops

Update release-edited.yml
  .github/workflows/release-edited.yml
Labels: devops

Update release-edited.yml
  .github/workflows/release-edited.yml
Labels: devops

Update release-edited.yml
  .github/workflows/release-edited.yml
Labels: devops

add `postgresql.conf` to prod
  docker/prod/docker-compose.yml
Labels: devops

add migration to prod
  docker/prod/docker-compose.yml
Labels: devops

fix prod nginx
  nginx/nginx.prod.conf.conf
  nginx/nginx.stage.conf.conf
Labels: devops

increase celery workers
  docker/docker-compose.base.yml
  docker/prod/docker-compose.yml
Labels: devops

update `SocialStrategy`
  api/settings.py
  app/users/strategy.py
  docker-compose.yml
Labels: task, devops

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt
