Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

#103 upgrade auth schema
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/devops.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/test.md
  api/settings.py
  app/base/exceptions/warning.py
  app/base/utils/schema.py
  app/base/views/base.py
Labels: task, devops

task-103 (#112)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/devops.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/test.md
  api/settings.py
  app/base/exceptions/warning.py
  app/base/utils/schema.py
  app/base/views/base.py
Labels: task, devops

#113 add register
  api/settings.py
  app/base/services/cache.py
  app/base/tests/fakers.py
  app/base/views/base.py
  app/base/views/xlsx.py
  app/users/migrations/0002_remove_user_is_active_alter_user_first_name_and_more.py
  app/users/models.py
  app/users/regisration/__init__.py
  app/users/regisration/registerer.py
  app/users/serializers/register/__init__.py
  app/users/serializers/register/general.py
  app/users/templates/email/register.html
  app/users/tests/views/test_register/__init__.py
  app/users/tests/views/test_register/test.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/code_generators/__init__.py
  app/users/verification/code_generators/base.py
  app/users/verification/code_generators/numeric.py
  app/users/verification/verifiers/__init__.py
  app/users/verification/verifiers/base.py
  app/users/verification/verifiers/email.py
  app/users/views/__init__.py
  app/users/views/register/__init__.py
  app/users/views/register/general.py
  envs/.base.env
  envs/.prod.example.env
  envs/.test.env
  requirements.txt
Labels: task, test, devops, requirements

#113 add register resend
  app/base/tests/views/base.py
  app/base/views/base.py
  app/users/regisration/registerer.py
  app/users/serializers/register/resend.py
  app/users/tests/views/test_register/test.py
  app/users/tests/views/test_register/test_resend.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/verifiers/base.py
  app/users/verification/verifiers/email.py
  app/users/views/register/__init__.py
  app/users/views/register/general.py
  app/users/views/register/resend.py
Labels: task, test

task-113 (#114)
  api/settings.py
  app/base/services/cache.py
  app/base/tests/fakers.py
  app/base/tests/views/base.py
  app/base/views/base.py
  app/base/views/xlsx.py
  app/users/migrations/0002_remove_user_is_active_alter_user_first_name_and_more.py
  app/users/models.py
  app/users/regisration/__init__.py
  app/users/regisration/registerer.py
  app/users/serializers/register/__init__.py
  app/users/serializers/register/general.py
  app/users/serializers/register/resend.py
  app/users/templates/email/register.html
  app/users/tests/views/test_register/__init__.py
  app/users/tests/views/test_register/test.py
  app/users/tests/views/test_register/test_resend.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/code_generators/__init__.py
  app/users/verification/code_generators/base.py
  app/users/verification/code_generators/numeric.py
  app/users/verification/verifiers/__init__.py
  app/users/verification/verifiers/email.py
  app/users/views/__init__.py
  app/users/views/register/__init__.py
  app/users/views/register/general.py
  app/users/views/register/resend.py
  envs/.base.env
  envs/.prod.example.env
  envs/.test.env
  requirements.txt
Labels: task, test, devops, requirements

try
  .github/workflows/push-create_pr.yml
Labels: devops

try
  .github/workflows/push-create_pr.yml
Labels: devops

Update push-create_pr.yml
  .github/workflows/push-create_pr.yml
Labels: devops

Update push-create_pr.yml
  .github/workflows/push-create_pr.yml
Labels: devops

Брать название для PR из названия issue (#116)
  .github/workflows/push-create_pr.yml
Labels: devops

#118 add google oauth
  api/settings.py
  app/users/pipelines.py
  app/users/strategy.py
  app/users/urls.py
  app/users/views/register/__init__.py
  app/users/views/register/social/__init__.py
  app/users/views/register/social/google.py
  envs/.base.env
  envs/.dev.example.env
  envs/.prod.example.env
  envs/.stage.example.env
  requirements.txt
Labels: task, devops, requirements

Сделать регистрацию через Google (#122)
  api/settings.py
  app/users/pipelines.py
  app/users/strategy.py
  app/users/urls.py
  app/users/views/register/__init__.py
  app/users/views/register/social/__init__.py
  app/users/views/register/social/google.py
  envs/.base.env
  envs/.dev.example.env
  envs/.prod.example.env
  envs/.stage.example.env
  requirements.txt
Labels: task, devops, requirements

Update call-update_prs.yml
  .github/workflows/call-update_prs.yml
Labels: devops

Update call-update_prs.yml
  .github/workflows/call-update_prs.yml
Labels: devops

fix cookies
  app/users/strategy.py
Labels: task

fix cookies
  app/users/strategy.py
Labels: task

fix cookies
  api/settings.py
  app/users/strategy.py
Labels: task

Update pr-add_labels.yml
  .github/workflows/pr-add_labels.yml
Labels: devops

WIP
  api/settings.py
  app/users/password_reset/__init__.py
  app/users/password_reset/resetter.py
  app/users/serializers/password/__init__.py
  app/users/serializers/password/reset.py
  app/users/strategy.py
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/code_generators/symbolic.py
  app/users/views/__init__.py
  app/users/views/password/__init__.py
  app/users/views/password/reset.py
Labels: task

fix
  app/tags/views/categories/general.py
Labels: task

remove migrate
  docker/prod/docker-compose.prod.yml
Labels: devops

fix remove migrate
  docker/prod/docker-compose.prod.yml
Labels: devops

tag <-> category to m2m
  app/pages/serializers/main.py
  app/pages/services/page.py
  app/tags/migrations/0002_categorytag_tag_categories.py
  app/tags/migrations/0003_auto_20230419_1739.py
  app/tags/migrations/0004_remove_tag_category.py
  app/tags/models.py
  app/tags/serializers/categories/general.py
  app/tags/tests/factories.py
  app/tags/views/categories/general.py
  docker-compose.yml
Labels: task, test, devops

add POST /tags/
  app/tags/serializers/categories/tags.py
  app/tags/serializers/general.py
  app/tags/tests/views/__init__.py
  app/tags/tests/views/test.py
  app/tags/urls.py
  app/tags/views/categories/tags.py
  app/tags/views/general.py
Labels: task, test

fix old imports
  app/tags/views/categories/__init__.py
Labels: task

Many - to - many (#167)
  app/pages/serializers/main.py
  app/pages/services/page.py
  app/tags/migrations/0002_categorytag_tag_categories.py
  app/tags/migrations/0003_auto_20230419_1739.py
  app/tags/migrations/0004_remove_tag_category.py
  app/tags/models.py
  app/tags/serializers/categories/general.py
  app/tags/serializers/categories/tags.py
  app/tags/serializers/general.py
  app/tags/tests/factories.py
  app/tags/tests/views/__init__.py
  app/tags/tests/views/test.py
  app/tags/urls.py
  app/tags/views/categories/__init__.py
  app/tags/views/categories/general.py
  app/tags/views/categories/tags.py
  app/tags/views/general.py
  docker-compose.yml
Labels: task, test, devops

fix ListTagsCategoriesSerializer
  app/tags/serializers/categories/general.py
Labels: task

fix UpdateTagSerializer
  app/tags/serializers/detail.py
Labels: task

add reset password
  app/users/password_reset/resetter.py
  app/users/serializers/password/reset.py
  app/users/services/__init__.py
  app/users/services/auth.py
  app/users/strategy.py
  app/users/templates/email/password_reset.html
  app/users/templates/email/register.html
  app/users/urls.py
  app/users/verification/__init__.py
  app/users/verification/code_generators/symbolic.py
  app/users/verification/verifiers/email.py
  app/users/views/password/reset.py
Labels: task

update registration
  api/settings.py
  app/base/views/base.py
  app/users/migrations/0003_user_has_discount_user_is_verified.py
  app/users/migrations/0004_alter_user_last_name.py
  app/users/migrations/0005_alter_user_last_name.py
  app/users/models.py
  app/users/regisration/registerer.py
  app/users/serializers/register/general.py
  app/users/templates/email/register.html
  app/users/tests/factories.py
  app/users/tests/views/test_register/test.py
  app/users/verification/__init__.py
  app/users/views/register/general.py
  app/users/views/register/resend.py
Labels: task, test

Изменить логику верификации почты (#184)
  api/settings.py
  app/base/views/base.py
  app/users/migrations/0003_user_has_discount_user_is_verified.py
  app/users/migrations/0004_alter_user_last_name.py
  app/users/migrations/0005_alter_user_last_name.py
  app/users/models.py
  app/users/regisration/registerer.py
  app/users/serializers/register/general.py
  app/users/templates/email/register.html
  app/users/tests/factories.py
  app/users/tests/views/test_register/test.py
  app/users/verification/__init__.py
  app/users/views/register/general.py
  app/users/views/register/resend.py
Labels: task, test

add `has_discount` and `is_verified` to `GETUsersMeSerializer`
  app/users/serializers/me.py
  app/users/verification/verifiers/email.py
  app/users/views/register/resend.py
Labels: task

change throttle policy in `UsersRegisterResendView`
  app/users/views/register/resend.py
Labels: task

Доработать эндпоинт для отправки письма о смене пароля на почту (#186)
  app/users/views/register/resend.py
Labels: task

add `is_draft` to `Mentor`
  app/mentors/migrations/0002_mentor_is_draft.py
  app/mentors/models.py
  app/mentors/serializers/detail.py
  app/mentors/serializers/general.py
Labels: task

update draft mentors visibility
  app/mentors/tests/factories.py
  app/mentors/views/detail.py
  app/mentors/views/general.py
  app/pages/services/page.py
Labels: task, test

Flag для отображения / скрытия страниц менторов (#187)
  app/mentors/migrations/0002_mentor_is_draft.py
  app/mentors/models.py
  app/mentors/serializers/detail.py
  app/mentors/serializers/general.py
  app/mentors/tests/factories.py
  app/mentors/views/detail.py
  app/mentors/views/general.py
  app/pages/services/page.py
Labels: task, test

fix checking the existence of an email in `UsersRegisterResendView`
  app/users/verification/verifiers/email.py
  app/users/views/register/resend.py
Labels: task

fix `register_resend_already_verified` warning
  app/users/serializers/register/resend.py
  app/users/tests/views/test_register/test_resend.py
  app/users/views/register/resend.py
Labels: task, test

Доработка запроса: /users/me добавляются поля discount: Boolean, verified: Boolean (#185)
  app/users/serializers/me.py
  app/users/serializers/register/resend.py
  app/users/tests/views/test_register/test_resend.py
  app/users/verification/verifiers/email.py
  app/users/views/register/resend.py
Labels: task, test
