Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt

Update call-update_version.yml
  .github/workflows/call-update_version.yml
Labels: devops

Update call-build.yml
  .github/workflows/call-build.yml
Labels: devops

Update push-main.yml
  .github/workflows/push-main.yml
Labels: devops

Update call-sentry_release.yml
  .github/workflows/call-sentry_release.yml
Labels: devops

Update call-update_version.yml
  .github/workflows/call-update_version.yml
Labels: devops

Update push-main.yml
  .github/workflows/push-main.yml
Labels: devops

Update call-update_version.yml
  .github/workflows/call-update_version.yml
Labels: devops

Refactor cloudinary.py to save names without prefix.
  api/settings.py
  app/base/storages/cloudinary.py
  docker-compose.yml
Labels: task, devops

Убрать сохранение префикса cloudinary в БД (#483)
  api/settings.py
  app/base/storages/cloudinary.py
  docker-compose.yml
Labels: task, devops

Revert "⬆️ Bump python from 3.11.5 to 3.12.0 (#465)"
  Dockerfile
Labels: devops

Revert "⬆️ Bump python from 3.11.5 to 3.12.0" (#487)
  Dockerfile
Labels: devops

Update to Kubernetes CI/CD (for test escaping "'/\{}$) (#488)
  .github/workflows/call-build.yml
  .github/workflows/call-ci.yml
  .github/workflows/call-deploy.yml
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/call-update_version.yml
  .github/workflows/push-create_pr.yml
  .github/workflows/push-main.yml
  .github/workflows/release-edited.yml
  .github/workflows/release-published.yml
  app/base/tasks.py
Labels: task, devops

fix ("'/\{}$)
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\{}$)
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\{}$)
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\{}$)
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\{}$)
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\{}$)
  .github/workflows/call-update_version.yml
Labels: devops

fix ("'/\)
  .github/workflows/call-get_commit_title.yml
Labels: devops

✨ Use GitMoji to preface the commit: 🔧 :wrench:
  api/settings.py
  docker-compose.yml
Labels: task, devops

add gitattributes
  .gitattributes
Labels: none

:recycle: Refactor PageService to improve mentor selection logic :white_check_mark: Add tests for mentor count on category and tag pages
  app/pages/services/page.py
  app/pages/tests/views/test_personals/test_general.py
Labels: task, test

Не работает добавление тега (#517)
  .gitattributes
  app/pages/services/page.py
  app/pages/tests/views/test_personals/test_general.py
Labels: task, test

WIP
  app/cal/services/auth.py
  app/geo/tests/views/countries.py
  app/geo/tests/views/languages.py
  docker-compose.yml
  docker/docker-compose.base.yml
  envs/.base.env
  nginx/nginx.local.conf.conf
Labels: task, test, devops

ValidationError: {'index': ['Ensure this value is less than or equal to 19.']} (#518)
  app/cal/services/auth.py
  app/geo/tests/views/countries.py
  app/geo/tests/views/languages.py
  docker-compose.yml
  docker/docker-compose.base.yml
  envs/.base.env
  nginx/nginx.local.conf.conf
Labels: task, test, devops

Сделать несколько ссылок для менторов (#520)
  app/mentors/admin.py
  app/mentors/migrations/0003_remove_mentor_link_mentor_links.py
  app/mentors/models.py
  app/mentors/serializers/detail.py
  app/mentors/serializers/general.py
  app/mentors/tests/factories.py
  nginx/local.dockerfile
Labels: task, test, devops

fix celery release
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  docker/docker-compose.base.yml
Labels: devops

fix build caching
  .github/workflows/call-build.yml
Labels: devops

fix build caching 2
  .github/workflows/call-build.yml
Labels: devops

Revert "⬆️ Bump django-admin-interface from 0.26.1 to 0.28.6 (#543)"
  requirements.txt
Labels: requirements

Revert "⬆️ Bump django-admin-interface from 0.26.1 to 0.28.6" (#549)
  requirements.txt
Labels: requirements

try
  .github/workflows/call-build.yml
  Dockerfile
Labels: devops

try
  .github/workflows/push-not_main.yml
Labels: devops

try
  .github/workflows/call-build.yml
Labels: devops

try
  .github/workflows/call-build.yml
Labels: devops

try
  .github/workflows/call-build.yml
Labels: devops

try
  .github/workflows/call-build.yml
Labels: devops

try
  .github/workflows/call-build.yml
Labels: devops

try
  .github/workflows/call-build.yml
  requirements.txt
Labels: devops, requirements

try
  requirements.txt
Labels: requirements
