Repository Creaty-Co/creaty-api, changes with the labels that .github/labeler.yml gives for each.
All labels: task, test, devops, requirements

hotfix: `_make_optional_slash`
  api/urls.py
Labels: task

update nginx: acceleration of static
  nginx/nginx.dev.conf.conf
Labels: devops

disable `update_rates`
  app/geo/tasks.py
Labels: task

KeyError: 'rates' (#315)
  app/geo/tasks.py
Labels: task

update exists emails
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor_password_reset.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
  app/users/templates/email/password_reset.html
  app/users/templates/email/register.html
  app/users/verification/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/mentor_first_name.py
  app/users/verification/email_senders/simple.py
Labels: task

add `BaseEmailSender`
  app/base/services/email/__init__.py
  app/base/services/email/senders/__init__.py
  app/base/services/email/senders/base.py
  app/users/services/email/__init__.py
  app/users/services/email/senders/__init__.py
  app/users/services/email/senders/user.py
  app/users/verification/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/mentor_first_name.py
  app/users/verification/email_senders/simple.py
  app/users/verification/email_senders/user.py
  app/users/verification/verifiers/email.py
Labels: task

add emails
  app/bookings/templates/email/first-trial-session.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/admin-request-product.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/mentors-application.html
  app/users/admin/__init__.py
  app/users/admin/admin.py
  app/users/admin/forms.py
  app/users/templates/email/mentor-registration.html
Labels: task

fix users admin
  app/users/admin/__init__.py
Labels: task

Нужно "прикрутить" письма (#316)
  app/base/services/email/__init__.py
  app/base/services/email/senders/__init__.py
  app/base/services/email/senders/base.py
  app/bookings/templates/email/first-trial-session.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/admin-request-product.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/mentors-application.html
  app/users/admin/__init__.py
  app/users/admin/admin.py
  app/users/admin/forms.py
  app/users/services/email/__init__.py
  app/users/services/email/senders/__init__.py
  app/users/services/email/senders/user.py
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/mentor_password_reset.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
  app/users/templates/email/password_reset.html
  app/users/templates/email/register.html
  app/users/verification/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/mentor_first_name.py
  app/users/verification/email_senders/simple.py
  app/users/verification/email_senders/user.py
  app/users/verification/verifiers/email.py
Labels: task

add confirm registration and password reset
  app/users/password_reset/__init__.py
  app/users/password_reset/resetter.py
  app/users/regisration/__init__.py
  app/users/regisration/registerer.py
  app/users/services/email/senders/user.py
  app/users/templates/email/account-verified.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
  app/users/tests/views/test_password/test_reset.py
  app/users/tests/views/test_register/test.py
  app/users/verification/__init__.py
  app/users/verification/email_senders/user.py
Labels: task, test

add `StaffEmailNotifier`
  api/settings.py
  app/base/notificators/__init__.py
  app/base/notificators/base.py
  app/base/notificators/emails/__init__.py
  app/base/notificators/emails/base.py
  app/forms/templates/email/admin-request-product.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/mentors-application.html
  app/users/notificators/__init__.py
  app/users/notificators/base.py
  app/users/notificators/email.py
  app/users/regisration/__init__.py
  app/users/services/admin/__init__.py
  app/users/services/admin/notifiers/__init__.py
  app/users/services/admin/notifiers/staff.py
  envs/.base.env
  envs/.dev.example.env
  envs/.prod.example.env
  envs/.stage.example.env
Labels: task, devops

add `UsersEmailNotifier`
  app/base/notificators/base.py
  app/base/notificators/emails/base.py
  app/base/services/email/senders/base.py
  app/users/notificators/base.py
  app/users/notificators/email.py
  app/users/password_reset/__init__.py
  app/users/password_reset/resetter.py
  app/users/regisration/__init__.py
  app/users/regisration/registerer.py
  app/users/services/email/senders/user.py
  app/users/verification/email_senders/base.py
Labels: task

add `DictManager`
  app/base/managers/__init__.py
  app/base/managers/dict.py
  app/users/notificators/email.py
Labels: task

add `AdminBookingSender`
  api/settings.py
  app/base/template/__init__.py
  app/base/template/undefinable_variable.py
  app/base/tests/base.py
  app/bookings/models.py
  app/bookings/senders/__init__.py
  app/bookings/senders/admin.py
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/first-trial-session.html
  app/bookings/templates/email/mentor-request.html
  app/bookings/tests/views/base.py
  app/bookings/tests/views/test_hourly.py
  app/bookings/tests/views/test_package.py
  app/bookings/tests/views/test_trial.py
  app/bookings/views/base.py
  app/bookings/views/hourly.py
  app/bookings/views/package.py
  app/bookings/views/trial.py
  app/users/notificators/base.py
  app/users/notificators/email.py
  app/users/services/admin/notifiers/staff.py
Labels: task, test

update `FormApplicationsView.post` to use `user_notifier`
  app/admin_/services/notification.py
  app/bookings/views/base.py
  app/forms/apps.py
  app/forms/signals.py
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/forms/views/applications/general.py
  app/users/services/admin/notifiers/operator.py
  app/users/services/admin/notifiers/staff.py
Labels: task

add `FormsApplicationsTest`
  app/bookings/tests/views/base.py
  app/forms/tests/__init__.py
  app/forms/tests/factories.py
  app/forms/tests/views/__init__.py
  app/forms/tests/views/applications/__init__.py
  app/forms/tests/views/applications/test_general.py
  app/forms/views/applications/general.py
  app/users/tests/factories.py
Labels: task, test

added links
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

fix `{{ link }}`
  app/bookings/templates/email/admin-request-product.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-reset.html
Labels: task

Added links to mails (#324)
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

fix deploy
  .github/workflows/call-deploy.yml
Labels: devops

fix deploy
  .github/workflows/call-deploy.yml
Labels: devops

Не работает авторизация по Google (#327)
  .github/workflows/call-deploy.yml
Labels: devops

hotfix: `GOOGLE_CLIENT_ID` -> `GOOGLE_APP_ID`
  .github/workflows/call-deploy.yml
Labels: devops

fix `UsersRegisterSocialGoogleCompleteView.get`
  app/users/views/register/social/google.py
Labels: task

AuthAlreadyAssociated: This account is already in use. (#330)
  app/users/views/register/social/google.py
Labels: task

hotfix `UsersRegisterSocialGoogleCompleteView.get`
  app/users/views/register/social/google.py
Labels: task

hotfix `UsersRegisterSocialGoogleView.get`
  app/users/views/register/social/google.py
Labels: task

hotfix: update `check_health`
  app/base/tasks.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
Labels: task, devops

hotfix: `docker-compose.base.yml`
  docker/docker-compose.base.yml
Labels: devops

hotfix: `_traces_sampler`
  api/settings.py
Labels: task

hotfix: `_traces_sampler`
  api/settings.py
  app/base/tasks.py
  docker-compose.yml
Labels: task, devops

hotfix: docker-compose.yml
  docker-compose.yml
Labels: devops

hotfix: `docker-compose.yml`
  app/base/tasks.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
Labels: task, devops

add `PageInline.raw_id_fields`
  api/settings.py
  app/mentors/admin.py
Labels: task

N+1 Query (#332)
  api/settings.py
  app/mentors/admin.py
Labels: task

hotfix: remove docker-compose sleep
  app/base/tasks.py
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
Labels: task, devops

fix `UserManager`
  app/users/managers.py
Labels: task

ValueError (#334)
  app/users/managers.py
Labels: task

add `django-debug-toolbar`
  api/settings.py
  api/urls.py
  requirements.txt
Labels: task, requirements

WIP
  db/postgresql.conf
  docker-compose.yml
  docker/dev/docker-compose.yml
  docker/docker-compose.base.yml
  redis/Dockerfile
  redis/redis.conf
Labels: devops

.github/labeler.yml:

task:
  - api/**/*
  - app/**/*
  - locale/**/*

test:
  - app/*/tests/**/*

devops:
  - .github/**/*
  - docker/**/*
  - envs/*
  - nginx/*
  - gunicorn/*
  - .coveragerc
  - .dockerignore
  - .gitignore
  - codecov.yml
  - .pre-commit-config.yaml
  - pyproject.toml
  - setup.cfg
  - Dockerfile
  - docker-compose.yml
  - manage.py

requirements:
  - requirements.txt
