Repository Creaty-Co/creaty-api, pull requests merged in 2023-07, with the labels that each got.

#293 ValidationError: ['Password must contain at least 1 number.']
  app/base/tests/admin/__init__.py
  app/base/tests/admin/base.py
  app/base/tests/base.py
  app/base/tests/views/base.py
  app/mentors/admin.py
  app/tags/admin.py
  app/tags/tests/admin/__init__.py
  app/tags/tests/admin/test_tag.py
Labels: test, task

#294 FieldError: Unsupported lookup 'name' for ForeignKey or join on the field not permitted.
  app/pages/admin.py
Labels: task

#296 ImproperlyConfigured: Field name `title` is not valid for model `Page`.
  app/pages/serializers/persoanls/detail.py
  zabbix/docker-compose.yml
Labels: task

#305 Сделать читаемый Sentry Release
  .github/workflows/call-backup_db.yml
  .github/workflows/call-deploy.yml
  .github/workflows/call-get_commit_title.yml
  .github/workflows/call-sentry_release.yml
  .github/workflows/cron-daily.yml
  .github/workflows/cron-monthly.yml
  .github/workflows/issue-add_project.yml
Labels: devops

#308 Сделать меньше профилирования `text`
  .github/workflows/call-deploy.yml
  .github/workflows/call-sentry_release.yml
  api/settings.py
Labels: task, devops

#310 RuntimeError: You called this URL via POST, but the URL doesn't end in a slash and you have APPEND_SLASH set. Django ca...
  api/settings.py
  api/urls.py
Labels: task

#315 KeyError: 'rates'
  app/geo/tasks.py
Labels: task

#316 Нужно "прикрутить" письма
  app/base/services/email/__init__.py
  app/base/services/email/senders/__init__.py
  app/base/services/email/senders/base.py
  app/bookings/templates/email/first-trial-session.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/admin-request-product.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/mentors-application.html
  app/users/admin/__init__.py
  app/users/admin/admin.py
  app/users/admin/forms.py
  app/users/services/email/__init__.py
  app/users/services/email/senders/__init__.py
  app/users/services/email/senders/user.py
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/mentor_password_reset.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
  app/users/templates/email/password_reset.html
  app/users/templates/email/register.html
  app/users/verification/__init__.py
  app/users/verification/email_senders/base.py
  app/users/verification/email_senders/mentor_first_name.py
  app/users/verification/email_senders/simple.py
  app/users/verification/email_senders/user.py
  app/users/verification/verifiers/email.py
Labels: task

#324 Added links to mails
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

#327 Не работает авторизация по Google
  .github/workflows/call-deploy.yml
Labels: devops

#330 AuthAlreadyAssociated: This account is already in use.
  app/users/views/register/social/google.py
Labels: task

#332 N+1 Query
  api/settings.py
  app/mentors/admin.py
Labels: task

#334 ValueError
  app/users/managers.py
Labels: task

#338 Неверно считается сумма сессий (письмо для админа)
  app/bookings/models.py
Labels: task

#339 Поменять "Отправителя" писем
  api/settings.py
Labels: task

#340 fixed title For free email
  app/forms/templates/email/first-trial-session.html
Labels: task

#344 updated titles in emails
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

#347 Добавить экран Success после регистрации юзера через гугл
  app/users/strategy.py
  docker-compose.yml
  envs/.base.env
  nginx/local.dockerfile
  nginx/nginx.local.conf.conf
Labels: task, devops

#350 Fixed emails top, bottom and logos layout
  app/bookings/templates/email/admin-request-product.html
  app/bookings/templates/email/mentor-request.html
  app/forms/templates/email/find-mentor.html
  app/forms/templates/email/first-trial-session.html
  app/forms/templates/email/mentors-application.html
  app/users/templates/email/account-verified.html
  app/users/templates/email/after-sign-up.html
  app/users/templates/email/mentor-registration.html
  app/users/templates/email/password-changed.html
  app/users/templates/email/password-reset.html
Labels: task

#349 Не отправлять письмо о смене пароля только что Зарегистрированным менторам
  app/users/models.py
  app/users/password_reset/resetter.py
  app/users/tests/views/test_password/test_reset.py
Labels: test, task

#354 Add Zabbix
  nginx/nginx.local.conf.conf
  nginx/nginx.stage.conf.conf
  zabbix/docker-compose.yml
  zabbix/mysql/my.cnf
Labels: devops

#357 Исправить иконку категорий в админке: Добавить возможность заливать SVG
  app/base/forms/fields/image.py
  app/tags/admin.py
Labels: task

#358 Вытащить в админку Django оставшиеся модели (функционал)
  app/mentors/admin.py
  app/pages/admin.py
  app/pages/apps.py
  app/pages/models/_faq.py
  app/pages/models/_links.py
Labels: task

#361 Автотесты
  app/base/tests/base.py
  app/pages/migrations/0004_alter_documentlink_url_alter_page_category_and_more.py
  app/pages/models/_pages.py
  app/pages/services/page.py
  app/tags/models.py
  app/tags/tests/factories.py
  app/tags/tests/test_signals.py
  envs/.base.env
  gunicorn/config.py
Labels: test, task, devops

#363 Поправить баг с загрузкой картинок через админку
  api/settings.py
Labels: task

#369 Доработка заявок в админке
  api/settings.py
  app/bookings/admin.py
Labels: task
